APP_ENV=development
APP_DEBUG=false
APP_HOST=0.0.0.0
APP_PORT=8000
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=meraki_lead_scoring
POSTGRES_USER=meraki
POSTGRES_PASSWORD=meraki
DB_CONNECT_TIMEOUT_SECONDS=5
